body{
    background-image: linear-gradient(to RIGHT , #1fa0ff , #1ed1ed , #5bcd8c);
    margin: 0;
    padding: 0;
}

.container{
    height: 80%;
    width: 80%;
    margin: 5%;
    margin-left: 10%;
}

.avtar{
    width: 40%;
    height: 80%;
    border-radius: 4%;
    background-color: #3dc679;
    float: left;
    margin-left: 8%;
    background-position: center;
    transition: 0.5s;
    position: relative;
}
.avtar:hover .overlay{
    z-index: 1;
    transform: scale(1.025);
    opacity: 0.85;
    border-radius: 4%;
}

.niraj{
    width: 40%;
    border-radius: 4%;
    background-color: #0cb1cb;
    float: left;
    margin-left: 8%;
    background-position: center;
    transition: 0.5s;
    position: relative;
}

.niraj:hover .overlay{
    z-index: 1;
    transform: scale(1.025);
    opacity: 0.85;
    border-radius: 4%;
}

.image_avtar{
    width: 100%;
    border-radius: 4%;    
    background-color: #3dc679;
    color: white;
    font-size: 20px;
    text-align: center;
 }

.image_niraj{
    width: 100%;
    border-radius: 4%;
    background-color: #0cb1cb;
    color: white;
    font-size: 20px;
    text-align: center;
 }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #94a2a7;
  }
  
  .text {
    color: white;
    font-size: 520%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

@media only screen and (max-width: 700px){
    .container{
        height: 80%;
        width: 80%;
        margin: 5%;
    }
    .avtar{
        width: 100%;
        border-radius: 4%;
        background-color: #3dc679;
        background-image: linear-gradient(to RIGHT ,  #4dca83 ,#0cb1cb );
        float: left;
        background-position: center;
        transition: 0.5s;
        position: relative;
    }
    .avtar:hover .overlay{
        z-index: 1;
        transform: scale(1.025);
        opacity: 0.85;
        border-radius: 4%;
    }

    .niraj{
        margin-top: 8% ;
        width: 100%;
        border-radius: 4%;
        background-color: #3dc679;
        background-image: linear-gradient(to RIGHT ,  #4dca83 ,#0cb1cb ); 
        float: left;
        background-position: center;
        transition: 0.5s;
        position: relative;
    }
    
    .niraj:hover .overlay{
        z-index: 1;
        transform: scale(1.025);
        opacity: 0.85;
        border-radius: 4%;
    }
    .image_avtar{
        width: 100%;
        border-radius: 4%;    
    color: white;
        font-size: 20px;
        text-align: center;
        background-image: linear-gradient(to RIGHT ,  #4dca83 ,#0cb1cb );
    }
    .image_niraj{
        width: 100%;
        border-radius: 4%;
        color: white;
        font-size: 20px;
        text-align: center;
        background-image: linear-gradient(to RIGHT ,  #4dca83 ,#0cb1cb );
     }
     
  }